<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman</span> Development</h1>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li class="current"><a href="about">About</a></li>
                <li><a href="github">Github</a></li>
                <li><a href="covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title"></h1>
            <ul id="services">
                <li>
                    <h3>Om webbsidan.</h3>
                    <p>
                        Mitt nam är Morten och jag studerar tredje terminen på informatikprogrammet på Mittuniversitetet. 
                        Jag har byggt denna webbsida i Visual Studio och ASP.NET core med hjälp av html, css, javascript och C#. 
                        Arbetet med den påbörjades när jag genomförde min kurs i interaktiva webbapplikationer, under den kursen använde sig 
                        vår föreläsare av ett api som hämtade in statistik över länders rapportering av Covid-19. Då jag ansåg att det kändes 
                        aktuellt just nu så valde jag att använda mig av det på min sida också.
                    </p>
                    <p>
                        MovieSearch har jag byggt uteslutande med html, css och javascript och där använder jag mig också av ett api, 
                        som hämtar in information om filmer från Open Movie Database. Denna webbsida ligger på en subdomän, som jag helt enkelt länkat till.<br />
                        Reloading ligger också på en subdomän och är ett av projekten vi fick göra i kursen, den är skapat helt och hållet med html och css 
                        och har inte någon interaktivitet.
                    </p>
                </li>
                <li>
                    <h3>This is a headline.</h3>
                    <p>This is a paragraph.</p>
                    <p>This is just another paragraph.</p>
                </li>
                <li>
                    <h3>This is a headline.</h3>
                    <p>This is a paragraph.</p>
                    <p>This is just another paragraph.</p>
                </li>
            </ul>
        </article>

        <aside id="sidebar">
            <div class="dark">
                <h1>My education</h1>
                <p>
                    My courses so far at the faculty of computer science and informatics is:<br>
                    Projectbased Introduction To Engineering, 7.5 credits<br>
                    Computersystems And Programming, 7.5 credits<br>
                    Introduction To Energy Systems, 7.5 credits<br>
                    Electrical Machinery And Drives, 7.5 credits<br>
                    User-centered Systems Design, 7.5 credits<br>
                    Informatics And System Science, 7.5 credits<br>
                    Problem-oriented Software Development, 7.5 credits<br>
                    Distributed Projects, 7.5 credits<br>
                    Human Computer Interaction, 7.5 credits<br>
                    Datamodelling And Databases, 7.5 credits<br>
                    Software Development Project, 7.5 credits<br>
                    Interactive Web Applications, 7.5 credits<br>
                    Information System Analysis And Design, 15 credits<br>
                    Scientific methodology, 7.5 credits<br>
                    AI The basics of Artificial Intelligens, 2.0 credits<br>
                    Cicuit Theory DC-cicuits, 2.0 credits<br>
                    Digital Electronics With PLC, 3.5 credits<br>
                </p>
            </div>
            <div class="dark">
                <h3>Contact</h3>
                <form method="POST" class="contact">
                    <div>
                        <label>Name</label><br>
                        <input class="inputfields" type="text" placeholder="Name" required>
                    </div>
                    <div>
                        <label>Email</label><br>
                        <input class="inputfields" type="email" placeholder="Email adress" required>
                    </div>
                    <div>
                        <label>Subject</label><br>
                        <input class="inputfields" type="text" placeholder="Subject" required>
                    </div>
                    <div>
                        <label>Message</label><br>
                        <textarea id="textarea" placeholder="Message"></textarea>
                    </div>
                    <button class="btn_1" type="submit">Send</button>
                </form>

            </div>
        </aside>
    </div>
</section>