<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman</span> Development</h1>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li class="current"><a href="about">About</a></li>
                <li><a href="covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title"></h1>
            <ul id="services">
                <li>
                    <h3>Something</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem eu tellus bibendum scelerisque. Curabitur blandit ante nulla, pellentesque dictum est molestie at. Ut lacinia finibus iaculis. Sed mauris metus, sagittis quis interdum vel, blandit ut nibh. Phasellus felis ipsum, scelerisque sed elementum nec, porta ac magna.</p>
                    <p>Nullam sed auctor dolor, id vestibulum massa. Nam ut dignissim lacus. Ut quam velit, volutpat vitae consequat eget, venenatis eget libero. Duis nec neque sed purus dapibus varius. Ut et lectus urna. Donec eleifend blandit sem, sit amet aliquam est lacinia eget. Integer placerat risus id ipsum efficitur mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </li>
                <li>
                    <h3>Something else</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem eu tellus bibendum scelerisque. Curabitur blandit ante nulla, pellentesque dictum est molestie at. Ut lacinia finibus iaculis. Sed mauris metus, sagittis quis interdum vel, blandit ut nibh. Phasellus felis ipsum, scelerisque sed elementum nec, porta ac magna.</p>
                    <p>Nullam sed auctor dolor, id vestibulum massa. Nam ut dignissim lacus. Ut quam velit, volutpat vitae consequat eget, venenatis eget libero. Duis nec neque sed purus dapibus varius. Ut et lectus urna. Donec eleifend blandit sem, sit amet aliquam est lacinia eget. Integer placerat risus id ipsum efficitur mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </li>
                <li>
                    <h3>Something other than the previous</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sem eu tellus bibendum scelerisque. Curabitur blandit ante nulla, pellentesque dictum est molestie at. Ut lacinia finibus iaculis. Sed mauris metus, sagittis quis interdum vel, blandit ut nibh. Phasellus felis ipsum, scelerisque sed elementum nec, porta ac magna.</p>
                    <p>Nullam sed auctor dolor, id vestibulum massa. Nam ut dignissim lacus. Ut quam velit, volutpat vitae consequat eget, venenatis eget libero. Duis nec neque sed purus dapibus varius. Ut et lectus urna. Donec eleifend blandit sem, sit amet aliquam est lacinia eget. Integer placerat risus id ipsum efficitur mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </li>
            </ul>
        </article>

        <aside id="sidebar">
            <div class="dark">
                <h1>My education</h1>
                <p>
                    My courses so far at the faculty of computer science and informatics is:<br>
                    Projectbased Introduction To Engineering, 7.5 credits<br>
                    Computersystems And Programming, 7.5 credits<br>
                    Introduction To Energy Systems, 7.5 credits<br>
                    Electrical Machinery And Drives, 7.5 credits<br>
                    User-centered Systems Design, 7.5 credits<br>
                    Informatics And System Science, 7.5 credits<br>
                    Problem-oriented Software Development, 7.5 credits<br>
                    Distributed Projects, 7.5 credits<br>
                    Human Computer Interaction, 7.5 credits<br>
                    Datamodelling And Databases, 7.5 credits<br>
                    Software Development Project, 7.5 credits<br>
                    Interactive Web Applications, 7.5 credits<br>
                    Information System Analysis And Design, 15 credits<br>
                    AI The basics of Artificial Intelligens, 2.0 credits<br>
                    Cicuit Theory DC-cicuits, 2.0 credits<br>
                    Digital Electronics With PLC, 3.5 credits<br>
                </p>
            </div>
            <div class="dark">
                <h3>Contact</h3>
                <form method="POST" class="contact">
                    <div>
                        <label>Name</label><br>
                        <input class="inputfields" type="text" placeholder="Name" required>
                    </div>
                    <div>
                        <label>Email</label><br>
                        <input class="inputfields" type="email" placeholder="Email adress" required>
                    </div>
                    <div>
                        <label>Subject</label><br>
                        <input class="inputfields" type="text" placeholder="Subject" required>
                    </div>
                    <div>
                        <label>Message</label><br>
                        <textarea id="textarea" placeholder="Message"></textarea>
                    </div>
                    <button class="btn_1" type="submit">Send</button>
                </form>

            </div>
        </aside>
    </div>
</section>