<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Morten</span> Ingman</h1>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li class="current"><a href="about">About</a></li>
                <li><a href="github">Github</a></li>
                <li><a href="covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="page-title"></h1>
            <ul id="services">
                <li>
                    <h3>Om webbsidan.</h3>
                    <p>
                        Mitt nam är Morten och jag studerar tredje terminen på informatikprogrammet på Mittuniversitetet.
                        Jag har byggt denna webbsida i Visual Studio och ASP.NET core med hjälp av html, css, javascript och C#.
                        Arbetet med den påbörjades när jag genomförde min kurs i interaktiva webbapplikationer, under den kursen använde sig
                        vår föreläsare av ett api som hämtade in statistik över länders rapportering av Covid-19. Då jag ansåg att det kändes
                        aktuellt just nu så valde jag att använda mig av det på min sida också.
                    </p>
                    <p>
                        MovieSearch har jag byggt uteslutande med html, css och javascript och där använder jag mig också av ett api,
                        som hämtar in information om filmer från Open Movie Database. Denna webbsida ligger på en subdomän, som jag helt enkelt länkat till.<br />
                        Reloading ligger också på en subdomän och är ett av projekten vi fick göra i kursen, den är skapat helt och hållet med html och css
                        och har inte någon interaktivitet.
                    </p>
                </li>
                <li>
                    <h3>Vem är jag?</h3>
                    <p>
                        Jag bor i centrala Östersund med min sambo Ann-Charlotte och vår dvärgschnauzer Gulliver.
                        Jag har två döttrar på 20 respektive 17 år, den äldre är utflugen ur boet och den yngre bor på annan ort hos sin mor.
                        Bland mina största intressen hittar vi jakt, fiske, friluftsliv och givetvis min familj.
                        God mat och dryck ligger mig också varmt om hjärtat tillsammans med resor och upplevelser.
                        Jag är också intresserad av programmering och systemutveckling, så jag har valt helt rätt utbildning om än något sent i livet.
                    </p>
                    <p>
                        Jag är född i Trondheim men uppvuxen i Östersund. I mina ungdomsår så lyste tydliga framtidsplaner och förnuft med sin frånvaro,
                        så jag började arbeta direkt efter grundskolan och har sedan dess arbetat med allt möjligt. En konsekvens av det var ju att jag började få svårt att komma vidare på arbetsfronten
                        när de formella kraven för anställning ökade. Jag insåg att jag behövde läsa in gymnasiet för att  ha någon möjlighet att komma vidare på arbetsmarknaden.
                        När jag läste in gymnasiet kände jag att jag ville skaffa mig en högre utbildning, så jag skrev högskoleprovet också och fick ett tillfredställande resultat.
                        Detta ledde i sin tur till att jag nu som 40-plussare är student på Mittuniversitetet och har samlat på mig en bunt med högskolepoäng. Om planen fortsätter löpa så
                        som den löpt på hittills, så räknar jag med att ha en kandidatexamen i Informatik med inriktning systemutveckling när höstterminen 2021 är slut.
                    </p>
                </li>
                <li>
                    <h3>Informatik med inriktning systemutveckling.</h3>
                    <p>
                        Det är en utbildning där vi får lära oss allt från de mer teoretiska bitarna i en systemutvecklingsprocess till praktisk programmering.
                        Det är mycket fokus på projektarbeten och då med huvudvikt på agila arbetssätt som är mycket vanligt, om inte uteslutande, det som används i branschen.
                        Vi har fått prova på de olika rollerna som kan förekomma i ett projekt och vi har fått prova på att skapa interaktiva prototyper med olika verktyg.
                        Användartester har vi också fått konstruera och genomföra, för att förbättra vår produkt i iterationer. Kravställning har också ingått i vår utbildning,
                        precis som strukturering och prioritering av olika krav. Skillnaden mellan funktionella och icke funktionella krav och att hela tiden försöka ha användbarhet
                        som ledord i systemutvecklingsprocessen.
                    </p>
                    <p>
                        C# och .NET ramverket är det språk vi fått lära oss tillsammans med andra tekniker som HTML, CSS och Javascript. Vi har också fått lära oss PostgreSQL
                        som är en open source databashanterare. Jag håller också på att lära mig Java vid sidan av mina studier, helt enkelt för att jag tror att jag kan ha nytta av det.
                        Jag upplever att ju mer jag lär mig, desto mer inser jag hur mycket mer det finns att lära. Jag trivs mycket bra med mitt val av utbildning, dels för att den är oerhört intressant
                        men också för att det aldrig kommer ta slut på utvecklingsmöjligheter i den bransch jag ska ge mig in i efter utbildningen. Möjligheterna är oändliga i en bransch där inte ens fantasin sätter gränser.
                    </p>
                </li>
                <li>
                    <h3>Min arbetslivserfarenhet i korthet.</h3>
                    <p>
                        Min arbetslivserfarenhet är brokig, jag har arbetat med allt möjligt under åren. 
                        I min ungdom så arbetade jag med videouthyrning, på djuraffär, landstingets lager och i bokhandel. 
                        Någon gång i mitten på 90-talet fick jag arbete som isoleringsplåtslagare och arbetade med det i 6-7 år. 
                        Därefter utbildade jag mig till kock och arbetade med det ett antal år, det var dock i samma tidsperiod som jag blev förälder så jag kände att jag 
                        behövde ett arbete med lämpligare arbetstider om jag ville träffa mina barn. Det ledde till att jag började arbeta på Solectron till de lade ner sin verksamhet 
                        i Östersund. Jag sökte dock och fick jobb som informationsmäklare på Ahhaaa AB och där arbetade jag i ca fyra år, innan jag sökte mig till Arbetsförmedlingen 
                        och där arbetar jag nu 25% medan jag studerar 100% på informatikprogrammet.
                    </p>
                    <p>
                        
                    </p>
                </li>
            </ul>
        </article>

        <aside id="sidebar">
            <div class="dark">
                <h1>My education</h1>
                <p>
                    My courses so far at the faculty of computer science and informatics is:<br>
                    Projectbased Introduction To Engineering, 7.5 credits<br>
                    Computersystems And Programming, 7.5 credits<br>
                    Introduction To Energy Systems, 7.5 credits<br>
                    Electrical Machinery And Drives, 7.5 credits<br>
                    User-centered Systems Design, 7.5 credits<br>
                    Informatics And System Science, 7.5 credits<br>
                    Problem-oriented Software Development, 7.5 credits<br>
                    Distributed Projects, 7.5 credits<br>
                    Human Computer Interaction, 7.5 credits<br>
                    Datamodelling And Databases, 7.5 credits<br>
                    Software Development Project, 7.5 credits<br>
                    Interactive Web Applications, 7.5 credits<br>
                    Information System Analysis And Design, 15 credits<br>
                    Scientific methodology, 7.5 credits<br>
                    AI The basics of Artificial Intelligens, 2.0 credits<br>
                    Cicuit Theory DC-cicuits, 2.0 credits<br>
                    Digital Electronics With PLC, 3.5 credits<br>
                </p>
            </div>
            <div class="dark">
                <h3>Contact</h3>
                <form method="POST" class="contact">
                    <div>
                        <label>Name</label><br>
                        <input class="inputfields" type="text" placeholder="Name" required>
                    </div>
                    <div>
                        <label>Email</label><br>
                        <input class="inputfields" type="email" placeholder="Email adress" required>
                    </div>
                    <div>
                        <label>Subject</label><br>
                        <input class="inputfields" type="text" placeholder="Subject" required>
                    </div>
                    <div>
                        <label>Message</label><br>
                        <textarea id="textarea" placeholder="Message"></textarea>
                    </div>
                    <button class="btn_1" type="submit">Send</button>
                </form>

            </div>
        </aside>
    </div>
</section>