@model IEnumerable<CountryDto>

<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman</span> Development</h1>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="github">Github</a></li>
                <li class="current"><a href="Covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcaseCovid">
    <div class="container">
        <h1></h1>
        <article class="information">
            <div>
                <p>

                </p>
            </div>
        </article>
    </div>
</section>
<section id="covid">
    <div class="covidContainer">
        <h2>Countries</h2>

        @foreach (var country in Model)
        {
            <p>@Html.DisplayFor(item => country.Country)</p>
        }
    </div>
    <aside id="sidebarCovid">
        <div class="covid">
            <h1>Country</h1>
            <p>
                Facts about that country.
            </p>
        </div>
    </aside>
</section>