@model IEnumerable<ReposDTO>

<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman</span> Development</h1>
        </div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li class="current"><a href="github">Github</a></li>
                <li><a href="covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="repos">
    <div class="reposContainer">
        <h1>Repositories</h1>
        
            @foreach (var repo in Model)
            {
               
                <p>@Html.DisplayFor(item => repo.html_url)</p>

                
            }

        </div>
</section>