@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Ingman </span> Development</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container">
        <h1>Curriculum vitae under construction</h1>
        <article class="information">
            <div>
                <p>
                    My name is Morten and I am studying to become a software developer,
                    at the Mid Sweden University and University of Linköping. I am about
                    half way through my education and looking forward to eventually start
                    my cereer as a software developer, or codemonkey as my uncle calls it.
                </p>
            </div>
        </article>
    </div>
</section>
<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="images/html5.png">
            <h3>HTML5</h3>
            <p>
                HTML står för HyperText Markup Language.<br>
                Det används för att märka upp de olika element som en website består av.
            </p>
        </div>
        <div class="box">
            <img src="images/css.png">
            <h3>CSS3</h3>
            <p>
                CSS står för Cascading Style Sheet.<br>
                Med CSS skapar man designen och utseendet på websiten.
            </p>
        </div>
        <div class="box">
            <img src="images/javascript.png">
            <h3>Javascript</h3>
            <p>
                JavaScript är ett skriptspråk<br>
                Det används för att skapa funktioner för websiter som användaren kan interagera med.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="images/csharp.jfif">
            <h3>C#</h3>
            <p>
                C# är ett programmeringsspråk<br>
                Det är objektorienterat och utvecklat av Microsoft för ramverket .NET.

            </p>
        </div>
        <div class="box">
            <img src="images/PostgreSQL.png">
            <h3>PostgreSQL</h3>
            <p>
                PostgreSQL är en databashanterare<br>
                Detta är världens mest avancerade databashanterare som är byggd på öppen källkod.

            </p>
        </div>
        <div class="box">
            <img src="images/Java.jpeg">
            <h3>Java</h3>
            <p>
                Java är ett programmeringsspråk<br>
                Det är objektorienterat och konstuerades av Sun Microsystems.

            </p>
        </div>
    </div>
</section>
