@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="container">
        <div id="brand">
            <h1><span class="highlight">Morten</span> Ingman</h1>
        </div>
        <nav>
            <ul>
                <li class="current"><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="github">Github</a></li>
                <li><a href="covid">Covid-19</a></li>
                <li><a href="http://www.movieinfo.ingmandev.se">MovieSearch</a></li>
                <li><a href="http://www.reloading.ingmandev.se">Reloading</a></li>
            </ul>
        </nav>
    </div>
</header>
<section id="showcase">
    <div class="container">
        <h1>Curriculum vitae under kontinuerlig utveckling</h1>
        <article class="information">
            <div>
                <p>
                   
                </p>
            </div>
        </article>
    </div>
</section>
<section id="boxes">
    <h1 class="boxes-headline">Tekniker jag jobbat med</h1>
    <div class="container">
        <div class="box">
            <img src="images/html5.png">
            <h3>HTML5</h3>
            <p>
                HyperText Markup Language.
            </p>
        </div>
        <div class="box">
            <img src="images/css.png">
            <h3>CSS3</h3>
            <p>
                Cascading Style Sheet.
            </p>
        </div>
        <div class="box">
            <img src="images/javascript.png">
            <h3>Javascript</h3>
            <p>
                Scriptspråk
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="images/csharp.jfif">
            <h3>C#</h3>
            <p>
                Programmeringsspråk
            </p>
        </div>
        <div class="box">
            <img src="images/PostgreSQL.png">
            <h3>PostgreSQL</h3>
            <p>
                Databashanterare
            </p>
        </div>
        <div class="box">
            <img src="images/Java.jpeg">
            <h3>Java</h3>
            <p>
                Programmeringsspråk
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="~/images/react.png">
            <h3>React</h3>
            <p>
                Javascript-bibliotek
            </p>
        </div>
        <div class="box">
            <img src="~/images/MSSql.jpg">
            <h3>Microsoft SQL Server</h3>
            <p>
                Databashanterare
            </p>
        </div>
        <div class="box">
            <img src="~/images/xunit.png">
            <h3>Xunit</h3>
            <p>
                Testramverk
            </p>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <img src="~/images/VS.png">
            <h3>Visual studio</h3>
            <p>
                Utvecklingsmiljö
            </p>
        </div>
        <div class="box">
            <img src="~/images/VScode.png">
            <h3>Visual studio code</h3>
            <p>
                Kodredigerare
            </p>
        </div>
        <div class="box">
            <img src="~/images/Eclipse.png">
            <h3>Eclipse</h3>
            <p>
                Utvecklingsmiljö
            </p>
        </div>
    </div>
</section>
